.button {
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  font-size: 30px;
  border-radius: 5px;
  background:  rgb(165, 228, 235);
  color:  rgb(16, 60, 65);
  border: 1px solid rgb(165, 228, 235);
  cursor: pointer;
}

.button:hover {
  transition: all 0.3s ease;
  background:  rgb(86, 195, 207);
  border: 1px solid rgb(86, 195, 207);
}