.counter-wrapper {
  padding: 50px;
  width: 500px;
  margin: 50px auto 0px;
  background: rgb(16, 60, 65);
  color: white;
  font-size: 24px;
  text-align: center;
}

.counter {
  margin-bottom: 30px;
}
